* {
    box-sizing: border-box;
}
body {
    background-color:rgb(246, 224, 191);
    margin:0;
    padding:0;
}

header,main,footer {
    width:70%;
    border:solid 1px black;
    min-height:50px;
    margin:10px auto;
}
header{
    height:80px;
    background-color:aqua;
}
main {
    min-height: 500px;
    background-color: rgba(62, 76, 236, 0.136);
    display: flex;
}
nav {
    width:25%;
    background-color: rgb(206, 182, 236);
}
.content {
    width:75%;
}
footer {
    background-color: rgb(185, 230, 232);
}
.datatable {
    border-collapse: collapse;
    width:508px;
    
}
.datatable th,td {
    border:solid 1px gray;
    padding:7px;
    margin:auto;
}